<div class="jumbotron">
  <h1 class="display-3"><center>Greatreads</center></h1>
  <h4 class="lead"><center>Your favorite online book club :)</center></h4>
  <hr class="my-4">
  <p><center>Greatreads is an online reader community. Here you can browse your favorite books and make friends who love reading just as much as you do! And no, we are nothing like Goodreads.</center></p>
  <% if User.find_by(id: cookies[:user_id]) != nil %>
    <% if User.find_by(id: cookies[:user_id]).username == "admin" %>
      <p class="lead">
        <center><a class="btn btn-primary btn-lg" href="/books/new" role="button">Add new meeting</a></center>
      </p>
    <% end %>
  <% end %>

</div> 
<div class="row">

  <% @books.each do |book| %>
  
  <div class="col-sm-4 my-4 text-center">
    <div class="card" style="width: 20rem;">

      <% cover_url = book.cover_url %>
      <%= link_to image_tag(cover_url, :class => "img-fluid card-img-top center-cropped"), "/books/#{book.id}" %>

      <div class="card-block">
        <h4 class="card-title"><%= book.title %></h4>
        <p class="card-text module line-clamp"><%= book.summary %></p>
        <% if User.find_by(id: cookies[:user_id]) != nil %>
          <% if User.find_by(id: cookies[:user_id]).username == "admin" %>
            <%= link_to "[Delete]", "/books/#{book.id}", method: "delete" %>
            <%= link_to "[Edit]", "/books/#{book.id}/edit" %>
          <% end %>
        <% end %>


      </div>
    </div>
  </div>

  <% end %>

</div>
