<% meeting = Meeting.find_by_title(params["title"]) %>
<% @submissions = meeting.submissions.sort_by(&:created_at) %>

<div class="card" style="margin-bottom:20px">
  <div class="card-body" style="padding-top: 30px">
    <h4> Post your work for <%=meeting.title %> here </h4>
  </div>
</div>

    <% if User.find_by(id: cookies[:user_id]) != nil %>
      <div class="toggle-pell-display" onclick="appendPellEditor(this,'post-submission');">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16" style="float:left; margin:10px 10px 0">
          <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
        </svg>
        <p style="cursor: pointer;">Reply</p>
      </div>
      
      <% @submissions.each_with_index do |submission, index| %>
  
      <div class="card" style="margin-top:20px">
        <div class="card-body">
          <div style="margin-bottom:20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16" style="float:left; margin-right:20px">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <div>
              <%= link_to "#{submission.user.username}", "/submissions/user/#{submission.user.id}", {:style=>"color:#347bad;"} %>
              <p style="font-size: small">
              <%= submission.created_at.localtime.to_time.strftime('%m/%d/%Y %H:%M') %>
              <% if submission.created_at != submission.updated_at %>
              (Edited <%= submission.updated_at.localtime.to_time.strftime('%m/%d/%Y %H:%M') %>)
              <% end %>
              </p>
            </div>
          </div>
          
          <div id="raw-content-<%=index%>" class="toggle-pell-display"><%= raw(submission.content) %></div>

          <% if User.find_by(id: cookies[:user_id]) != nil %>
            <% if User.find_by(id: cookies[:user_id]).id == submission.user.id || User.find_by(id: cookies[:user_id]).username == "admin" %>
              <hr>
              <p style="color:347bad !important;">
              <a class="toggle-pell-display" style="color:#347bad" onclick="appendPellEditor(this,'edit-submission','<%= submission.id %>','raw-content-<%= index %>');">[Edit]</a>
              <%= link_to "[Delete]", "/submissions/#{submission.id}", method: "delete", data: { confirm: "Are you sure you want to delete this submission?" } %>
              </p>
            <% end %>
          <% end %>

          <hr>

          <div class="toggle-pell-display" onclick="appendPellEditor(this,'post-comment','<%= submission.id %>');">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16" style="float:left; margin:10px 10px 0">
              <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
            </svg>
            <p style="cursor: pointer;">Reply</p>
          </div>

        </div>
      </div>

        <% submission.comments.each_with_index do |comment, j| %>
          <div class="card" style="margin-left:20px;">

            <div class="card-body">
              <div style="margin-bottom:20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="gray" class="bi bi-person-circle" viewBox="0 0 16 16" style="float:left; margin-right:20px">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <div>
                  <%= link_to "#{comment.user.username}", "/submissions/user/#{comment.user.id}", {:style=>"color:#347bad; font-size: small;"} %>
                  <p style="font-size: x-small">
                    <%= comment.created_at.localtime.to_time.strftime('%m/%d/%Y %H:%M') %>
                    <% if comment.created_at != comment.updated_at %>
                    (Edited <%= comment.updated_at.localtime.to_time.strftime('%m/%d/%Y %H:%M') %>)
                    <% end %>
                  </p>
                </div>
              </div>

              <div id="raw-content-<%= index %>-<%=j%>" class="toggle-pell-display"><%= raw(comment.content) %></div>

              <% if User.find_by(id: cookies[:user_id]) != nil %>
                <% if User.find_by(id: cookies[:user_id]).id == comment.user.id || User.find_by(id: cookies[:user_id]).username == "admin" %>
                <hr>
                  <a class="toggle-pell-display" style="color:#347bad" onclick="appendPellEditor(this,'edit-comment','<%= comment.id %>','raw-content-<%= index %>-<%=j%>');">[Edit]</a>
                  <%= link_to "[Delete]", "/comments/#{comment.id}", method: "delete", data: { confirm: "Are you sure you want to delete this comment?" } %>
                <% end %>
              <% end %>

            </div>
          </div>
        <% end %>
    <% end %>
    <% else %>
      <%= link_to "Please log in to post submissions or view private submissions", "/sessions/new" %>
    <% end %>

  
  <hr style="margin-top:20px;">

  <script>
    function appendPellEditor(button,editorType,elementID,rawTextDivID) {
      if (document.getElementById("pell") != null) { document.getElementById("pell").remove(); }
      
      // make all reply buttons, edit buttons and temporarily hidden text fields (re)appear, only hide "this" button
      elements = document.getElementsByClassName("toggle-pell-display")
      for (const e of elements) {
        e.style.display = 'inline';
      }
      button.style.display = "none"

      var text = ""
      if (editorType == "post-submission") {
        text ='<div id="pell"><%= form_tag "/submissions/", method: "post" do %><div id="editor" class="editor border"></div><div class="form-group"><textarea id="markup" class="form-control" name="content" style="display:none;"></textarea></div><%= hidden_field_tag :meeting_id, meeting.id %><%= hidden_field_tag :user_id, cookies[:user_id] %><button class="btn btn-primary btn-block" style="background-color:#2c73b7;border-color:#2c73b7">Post Submission</button><% end %></div>';
      } else if (editorType == "post-comment") {
        text = '<div id="pell"><%= form_tag "/comments/", method: "post" do %><div id="editor" class="editor border" style="height:180px"></div><div class="form-group"><textarea id="markup" class="form-control markup" name="content" style="display:none;"></textarea></div><input type="hidden" name="submission_id" id="submission_id" value="' + elementID +  '" autocomplete="off" /><%= hidden_field_tag :user_id, cookies[:user_id] %><button class="btn btn-primary btn-block" style="background-color:#2c73b7;border-color:#2c73b7">Post Comment</button><% end %></div>'
      } else if (editorType == "edit-submission") {
        var rawTextDiv = document.getElementById(rawTextDivID)
        rawTextDiv.style.display = "none"
        
        text = '<div id="pell"><%= form_tag "/submissions/", method: "patch" do %><div id="editor" class="editor border"></div><div class="form-group"><textarea id="markup" class="form-control markup" name="content" style="display:none;"></textarea></div><input type="hidden" name="id" id="id" value="' + elementID +  '" autocomplete="off" /><%= hidden_field_tag :user_id, cookies[:user_id] %><button class="btn btn-primary btn-block" style="background-color:#2c73b7;border-color:#2c73b7">Done</button><% end %></div>'
      } else if (editorType == "edit-comment") {
        var rawTextDiv = document.getElementById(rawTextDivID)
        rawTextDiv.style.display = "none"
        
        text = '<div id="pell"><%= form_tag "/comments/", method: "patch" do %><div id="editor" class="editor border" style="height:180px"></div><div class="form-group"><textarea id="markup" class="form-control markup" name="content" style="display:none;"></textarea></div><input type="hidden" name="id" id="id" value="' + elementID +  '" autocomplete="off" /><%= hidden_field_tag :user_id, cookies[:user_id] %><button class="btn btn-primary btn-block" style="background-color:#2c73b7;border-color:#2c73b7">Done</button><% end %></div>'
      } else {
        return;
      }
        
      button.insertAdjacentHTML("beforebegin",text); 

      const pell = window.pell;  
      const editor = document.getElementById("editor");
      const markup = document.getElementById("markup");

      pell.init({
        element: editor,
        actions: ['bold', 'italic', 'heading1', 'heading2', 'underline','strikethrough','olist', 'ulist','line',
        {
          name: 'link',
          icon: '<svg xmlns="http://www.w3.org/2000/svg" width="22" height="26" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16"><path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/><path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/></svg>'
        },
        {
          name: 'image',
          icon: '<svg xmlns="http://www.w3.org/2000/svg" width="22" height="28" viewBox="0 0 24 24"><path d="M24 14.378l-5.641 5.64c-.654.655-1.513.982-2.374.982-2.972 0-4.493-3.613-2.374-5.731l5.539-5.54c.488-.486 1.126-.729 1.766-.729 1.494 0 2.498 1.233 2.498 2.519 0 .61-.227 1.232-.734 1.74l-4.918 4.918c-.634.634-1.665.634-2.299 0-.633-.633-.633-1.664 0-2.298l3.971-3.97.828.828-3.971 3.97c-.178.177-.178.466 0 .643s.465.177.643 0l4.919-4.918c.517-.517.517-1.357 0-1.874-.517-.517-1.356-.517-1.874 0l-5.539 5.54c-.854.853-.854 2.241 0 3.093.852.853 2.24.853 3.093 0l5.64-5.64.827.827zm-17-5.878c0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5c0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5zm7.57 3.013l-1.57-2.513-2.52 4-2.48-1.96-4 5.96h6.694c.144-1.139.63-2.242 1.503-3.114l2.373-2.373zm-3.754 7.487h-8.816v-14h18v2.126c.299-.062.604-.096.916-.096.371 0 .732.06 1.084.147v-4.177h-22v18h11.818c-.482-.605-.818-1.283-1.002-2z"/></svg>'
        }],
        onChange: (html) => {
          markup.innerHTML = "";
          markup.innerText += html;
        }
      })

      if (editorType == "edit-submission" || editorType == "edit-comment") {
        editor.content.innerHTML = rawTextDiv.innerHTML
      }
    };
  </script>