<% book = Book.find_by(id: params["id"]) %>

<div class="row">
  <div class="col-sm-6">
    <h1><%= book.title %></h1>
    <% if book.author.present? %>
      <p class="lead">Written By: <%= link_to book.author.name, "/authors/#{book.author.id}" %></p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-5">
    <%= image_tag book.cover_url %>
  </div>
  <div class="col-sm-7">
    <h2>Summary: </h2>
    <p><%= book.summary %></p>
    <hr class="my-4">

    <% if book.author.present? %>
      <h2>Books by this author:</h2>

      <div class="row">
        <% book.author.books.each do |book| %>
          <div class="col-sm-2">
            <%= link_to image_tag(book.cover_url, class: 'img-fluid'), "/books/#{book.id}" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <hr class="my-4">

    <% if book.reviews.present? %>
      <h2>What people say about this book: </h2>
      <% book.reviews.each do |review| %>
        <div class="alert alert-dark">
          <%= review.creator %> says:  <%= review.content %>
        </div>
      <% end %>
    <% end %>
    
    <% if User.find_by(id: cookies[:user_id]) != nil %>
        <%= form_tag "/reviews/", method: "post" do %>
          <div class="form-group">
            <textarea class="form-control" name="content" rows="2">Say something!</textarea>
          </div>
          <%= hidden_field_tag :book_id, book.title %>
          
          <button class="btn btn-primary">Add Review</button>
        <% end %>
    <% else %>
        <%= link_to "Log in to add a review", "/sessions/new" %>
    <% end %>

  </div>
</div>


